<div th:fragment="cardDialog (id)">
    <div class="modal fade" th:id="${id} + '-card-dialog'" tabindex="-1" th:aria-labelledby="${id} + '-card-dialog-label'" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:id="${id}+ '-card-dialog-label'">Edit word</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <label>
                            <input th:id="${id} + '-card-dialog-word'" type="text"/>
                        </label>
                    </div>
                    <div class="row" th:id="${id} + '-card-dialog-links'">
                        <div class="card-header">
                            <h6 class="mb-0" th:id="${id} + '-card-dialog-gl-link'"></h6>
                        </div>
                        <div class="card-header">
                            <h6 class="mb-0" th:id="${id} + '-card-dialog-ya-link'"></h6>
                        </div>
                        <div class="card-header d-flex justify-content-between" th:id="${id} + '-card-dialog-lg-header'">
                            <h6 class="mb-0" th:id="${id}  + '-card-dialog-lg-link'"></h6>
                            <h6 class="mb-0">
                                <button class="btn btn-link"
                                        data-bs-toggle="collapse"
                                        th:data-bs-target="'#' + ${id} + '-card-dialog-lg-collapse'"
                                        aria-expanded="false"
                                        th:aria-controls="'#' + ${id} + '-card-dialog-lg-collapse'">v</button>
                            </h6>
                        </div>
                        <div th:id="${id} + '-card-dialog-lg-collapse'" class="collapse" th:aria-labelledby="${id} + '-card-dialog-lg-header'">
                            <div class="card-body" style="overflow: auto">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>